 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/banner-image-1.jpg");
  background-position: 50% 71.22%;
}

.u-section-1 .u-sheet-1 {
  min-height: 707px;
}

.u-section-1 .u-group-elements-1 {
  width: 480px;
  min-height: 187px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 249px auto 60px 47px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 21px 29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-left: 0;
  }
} .u-section-2 {
  min-height: 754px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 46px calc(((100% - 1140px) / 2) + 372px) 0;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -128px calc(((100% - 1140px) / 2) + 391px) 0 calc(((100% - 1140px) / 2) + 422px);
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 561px;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 0;
}

.u-section-2 .u-group-elements-1 {
  width: 553px;
  min-height: 362px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 91px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 294px;
  width: 472px;
  background-image: none;
  margin: 68px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 484px;
  height: 300px;
  margin: -362px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 484px;
  height: 300px;
  margin: -290px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 561px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-group-elements-2 {
  width: 637px;
  min-height: 401px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 117px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 31px 24px 0 12px;
}

.u-section-2 .u-group-elements-3 {
  width: 26px;
  min-height: 100px;
  margin: 30px auto 0 24px;
}

.u-section-2 .u-shape-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-shape-3 {
  height: auto;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-shape-4 {
  height: auto;
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-2 .u-group-elements-4 {
  width: 556px;
  min-height: 100px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -100px 17px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 15px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 14px 139px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 656px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-right: calc(((100% - 940px) / 2) + 272px);
    margin-left: calc(((100% - 940px) / 2) + 272px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 291px);
    margin-left: calc(((100% - 940px) / 2) + 322px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 392px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 501px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 850px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 162px);
    margin-left: calc(((100% - 720px) / 2) + 162px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 181px);
    margin-left: calc(((100% - 720px) / 2) + 212px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 384px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1446px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-right: calc(((100% - 540px) / 2) + 72px);
    margin-left: calc(((100% - 540px) / 2) + 72px);
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 540px) / 2) + 91px);
    margin-left: calc(((100% - 540px) / 2) + 122px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 760px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1282px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -496px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 13px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 586px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 36px 372px 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 280px;
  margin: -127px 430px 0;
}

.u-section-3 .u-list-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 323px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 15px auto 0;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 15px auto 0;
}

.u-section-3 .u-list-item-3 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 15px auto 0;
}

.u-section-3 .u-list-item-4 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 15px auto 0;
}

.u-section-3 .u-list-item-5 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 15px auto 0;
}

.u-section-3 .u-list-item-6 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 272px;
    margin-right: 272px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 330px;
    margin-right: 330px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 267px;
  }

  .u-section-3 .u-list-item-1 {
    transition-duration: 1s;
    --radius: 20px;
  }

  .u-section-3 .u-list-item-2 {
    transition-duration: 3s;
    --radius: 20px;
  }

  .u-section-3 .u-list-item-3 {
    transition-duration: 3s;
    --radius: 20px;
  }

  .u-section-3 .u-list-item-4 {
    transition-duration: 3s;
    --radius: 20px;
  }

  .u-section-3 .u-list-item-5 {
    transition-duration: 3s;
    --radius: 20px;
  }

  .u-section-3 .u-list-item-6 {
    transition-duration: 3s;
    --radius: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 162px;
    margin-right: 162px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 220px;
    margin-right: 220px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 72px;
    margin-right: 72px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 130px;
    margin-right: 130px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  transform: scale(1) !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #2c2c2c !important;
}

.u-section-3 .u-list-item-1 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  transform: scale(1) !important;
}

.u-section-3 .u-list-item-1 {
  border-style: solid !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #2c2c2c !important;
}

.u-section-3 .u-list-item-2 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-2 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #2c2c2c !important;
}

.u-section-3 .u-list-item-3 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-3 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #2c2c2c !important;
}

.u-section-3 .u-list-item-4 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-4 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-5,
.u-section-3 .u-list-item-5:before,
.u-section-3 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #2c2c2c !important;
}

.u-section-3 .u-list-item-5 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-5 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-6,
.u-section-3 .u-list-item-6:before,
.u-section-3 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #2c2c2c !important;
}

.u-section-3 .u-list-item-6 {
  border-style: solid !important;
}

.u-section-3 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1) !important;
  border-color: #fef9e6 !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-3 .u-list-item-6 {
  border-style: solid !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 793px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 409px;
  margin: 19px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 295px;
  margin: -124px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 647px;
}

.u-section-4 .u-container-layout-1 {
  padding: 25px 10px;
}

.u-section-4 .u-text-3 {
  margin: 0 auto;
}

.u-section-4 .u-image-1 {
  width: 261px;
  height: 183px;
  margin: 10px auto 0 127px;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 14px 45px 16px;
}

.u-section-4 .u-container-layout-2 {
  padding: 25px 10px;
}

.u-section-4 .u-text-4 {
  margin: 0 auto;
}

.u-section-4 .u-image-2 {
  width: 261px;
  height: 183px;
  margin: 10px auto 0 127px;
}

.u-section-4 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 14px 45px 16px;
}

.u-section-4 .u-container-layout-3 {
  padding: 25px 10px;
}

.u-section-4 .u-text-5 {
  margin: 0 auto;
}

.u-section-4 .u-image-3 {
  width: 261px;
  height: 183px;
  margin: 10px auto 0 127px;
}

.u-section-4 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 14px 45px 16px;
}

.u-section-4 .u-container-layout-4 {
  padding: 25px 10px;
}

.u-section-4 .u-text-6 {
  margin: 0 auto;
}

.u-section-4 .u-image-4 {
  width: 261px;
  height: 183px;
  margin: 10px auto 0 127px;
}

.u-section-4 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 14px 45px 16px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-2 {
    width: 280px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 534px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: -359px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    margin-left: 59px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 59px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 59px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 59px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 650px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 478px;
  margin: 36px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 360px;
  margin: -122px auto 0;
}

.u-section-5 .u-form-1 {
  height: 438px;
  width: 645px;
  margin: 69px auto 44px;
}

.u-section-5 .u-label-1 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-5 .u-label-2 {
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-5 .u-label-3 {
  font-weight: 700;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: 409px;
  }

  .u-section-5 .u-text-2 {
    width: 295px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: -787px;
    margin-right: 715px;
    margin-left: -375px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-right: -375px;
    margin-left: 420px;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
  }
}